h2 {
	display: inline-block;
	width:100%;
	font-size: 3em;
	font-weight:100;
	font-family:"Helvetica Neue", Arial;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align:center;
}

.text-reflect, .text-reflect::before, .text-reflect span {
	display: block;
	margin: 0;
	padding: 0;
}

.text-reflect, .text-reflect::before, .text-reflect::after {
	position: relative;
}

.text-reflect {
	top: -60px;
}

.text-reflect::before {
	content: "CSS Reflect";
	top: 95px;
	transform: scale(1, -1);
	backface-visibility: : visible;
	z-index: 1;
}
